# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
*.sqlite3
/static/
/staticfiles/
/media/

# Environments
.env
venv/
ENV/

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db 