<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Doctor Availability</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


</head>
<body>
{% csrf_token %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage Doctor <b>Availability</b></h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for slot in availability %}
                <tr>
                    <td></td>
                    <td id="dateCell{{ slot.change_id }}">{{ slot.date|date:"M. j, Y" }}</td>
                    <td id="startTimeCell{{ slot.change_id }}"> {{ slot.start_time|date:"g:i a" }}</td>
                    <td id="endTimeCell{{ slot.change_id }}">{{ slot.end_time|date:"g:i a" }}</td>
                    <td>
                        <a href="#editAvailabilityModal" class="edit" data-toggle="modal" data-slot-id="{{ slot.change_id }}"><i class="material-icons"
                                                                                              data-toggle="tooltip"
                                                                                              title="Edit">&#xE254;</i></a>
<!--                        <a href="#deleteAvailabilityModal" class="delete" data-toggle="modal"><i-->
<!--                                class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>-->
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No availability times found for this doctor.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editAvailabilityModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editForm">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Availability</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" required id="dateField">
                    </div>
                    <div class="form-group">
                        <label>Start Time</label>
                        <input type="time" class="form-control" required id="startTimeField">
                    </div>
                    <span id="startTimeMsg" style="color: red;"></span>
                    <div class="form-group">
                        <label>End Time</label>
                        <input type="time" class="form-control" required id="endTimeField">
                    </div>
                    <span id="endTimeMsg" style="color: red;"></span><br>
                    <span id="timeOrderMsg" style="color: red;"></span><br>
                </div>

                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <button type="submit" class="btn btn-info" id="saveButton">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- Success Modal HTML -->
<div id="successModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Updated Successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var slotId;

        $('.edit').click(function () {
            slotId = $(this).data('slot-id');

            // Clear the form fields before showing the modal
            $('#dateField').val('');
            $('#startTimeField').val('');
            $('#endTimeField').val('');

             // Clear the error messages
            document.getElementById('startTimeMsg').textContent = '';
            document.getElementById('endTimeMsg').textContent = '';
            document.getElementById('timeOrderMsg').textContent = '';

            // Enable the save button
            $('#saveButton').prop('disabled', false);
        });

        $('#editForm').submit(function (e) {
            e.preventDefault();

            var date = $('#dateField').val();
            var startTime = $('#startTimeField').val();
            var endTime = $('#endTimeField').val();

            var formattedDate = moment(date).format('MMM. D, YYYY');
            var formattedStartTime = moment(startTime, 'HH:mm').format('h:mm a');
            var formattedEndTime = moment(endTime, 'HH:mm').format('h:mm a');

            $.ajax({
              url: '/myapp/update_availability/' + slotId + '/',
                type: 'POST',
                data: {
                    'slot_id': slotId,
                    'date': date,
                    'start_time': startTime,
                    'end_time': endTime
                },
                success: function (data) {
                    $('#dateCell' + slotId).text(formattedDate);
                    $('#startTimeCell' + slotId).text(formattedStartTime);
                    $('#endTimeCell' + slotId).text(formattedEndTime);
                    $('#editAvailabilityModal').modal('hide');
                   $('#successModal').modal('show');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error", textStatus, errorThrown);
                    console.log(jqXHR);
                }
            });
        });

        const validateTime = function(time, errorMsgElementId) {
            var timeSplit = time.split(':');
            var hours = parseInt(timeSplit[0]);
            var minutes = parseInt(timeSplit[1]);
            if ((hours < 8 || hours > 20) || (hours === 20 && minutes > 0)) {
                document.getElementById(errorMsgElementId).textContent = 'Please select a time between 08:00 AM to 08:00 PM';
                return false;
            } else {
                document.getElementById(errorMsgElementId).textContent = '';
                return true;
            }
        };

        const validateTimeOrder = function() {
            if ($('#startTimeField').val() >= $('#endTimeField').val()) {
                document.getElementById('timeOrderMsg').textContent = 'End time must be later than start time';
                return false;
            } else {
                document.getElementById('timeOrderMsg').textContent = '';
                return true;
            }
        };

        const validateForm = function() {
            if ($('#dateField').val() !== '' && $('#startTimeField').val() !== '' && $('#endTimeField').val() !== '') {
                const startTimeValid = validateTime($('#startTimeField').val(), 'startTimeMsg');
                const endTimeValid = validateTime($('#endTimeField').val(), 'endTimeMsg');
                const timeOrderValid = validateTimeOrder();
                $('#saveButton').prop('disabled', !(startTimeValid && endTimeValid && timeOrderValid));
            } else {
                $('#saveButton').prop('disabled', true);
            }
        };

        $('input[type="time"], input[type="date"]').on('input', validateForm);

        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var dd = String(today.getDate()).padStart(2, '0');
        today = yyyy + '-' + mm + '-' + dd;
        $('#dateField').attr('min', today);
    });
</script>
</body>
</html>